@font-face {
    /* 폰트 이름을 지정한다. */
    font-family: 'Cafe24Ssurround';
    /* 폰트 파일 을 여기에 붙여넣기 한다. format은 확장자를 뜻한다.*/
    src: url('https://2022-01-newyear.s3.ap-northeast-2.amazonaws.com/Cafe24Ssurround.woff') format('woff');
}

/* '*'은 요소에 해당 폰트를 먹이라는 것을 의미한다.  */
* {
    font-family: 'Cafe24Ssurround';
}

.background {
    width: 100vw;
    height: 100vh;
    max-width: 450px;

    /* 백그라운드를 설정할때 붙어다니는 애들, 얘들도 복붙해서 쓰세요! */
    background-image: url('https://2022-01-newyear.s3.ap-northeast-2.amazonaws.com/bg_default.png');
    background-position: center;
    background-size: cover;

    margin: auto;
}

/* 각 속성에는 기본 margin 값이 있다 이것을 먼저 0으로 만들어주고 시작하는 것이 웹페이지를 만들 때 편하다. */
body,
h1,
p {
    margin: 0;
}

.title {
    color: #3f3732;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5vh;
    /* 사용자의 화면 전체 100% 에서 5% 만큼 띄우겠다는 뜻 */
}

.title h1 {
    font-size: 22px;
    background-color: white;
    padding: 8px 16px;
    /* 첫 번째 쓰면 위아래, 두 번째 쓰면 좌우 padding 값을 조절한다. */
    border-radius: 16px;
    margin-bottom: 16px;
}

.tilte p {
    font-size: 18px;
}

.title p span {
    font-size: 22px;
}

.btn {
    background-color: #3f3732;
    color: white;

    width: 300px;
    height: 50px;
    border-radius: 10px;

    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: fixed;
    bottom: 16px;
    /* 그냥 50% 로 하면 왼쪽에서 50% 지점부터 오브젝트가 시작하게 된다. */
    /* 따라서 50% 지점 - 150px 만큼 뺀다는 의미로 clac() 코드를 사용한다 */
    left: calc(50% - 150px);
}

.box img {
    width: 70px;

    position: absolute;
    bottom: 50%;
    left: 20%;

}